.container {
    text-align: center;
}

.card {
    padding: 10px;
    margin: 10px;
}

.title-header {
    background-color: #282c34;
    color: whitesmoke;

}

body {
    background-image: url("backgrounds-blank-blue-953214.jpg")
}